*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  /* background: #d1d1d1; */
  padding-top: 50px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}

h1 span {
  font-weight: 900;
}

.video-player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: hidden;
}
.video {
  width: 100%;
  
  
}

.controls {
  width: 100%;  
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  cursor: auto;
  position: relative;
}

.display {
  position: absolute;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.2s;
  bottom: 1px;
  background-color: black;

}
.video-player:hover .active {
  transform: translateY(0);
}

.progress-bar {
  width: 100%;
  cursor: pointer;
  background-color: black;

}
.progress  {
  height: 5px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: left;
  margin: 2px 0;
  pointer-events: none;
  
}
.controls * {
  cursor: pointer;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  border: none;

  
}
img {
  width: 20px;
  object-fit:contain;
 
}

 div span {
  color: grey;
  margin: 5px;
}
div span:not(:nth-of-type(2)) {
  width: 50px;
  
}

button.fullscreen-button {
  position: absolute;
  right: 10px;
}

input[type="range"] {
  height: 2px;
  margin: 0 10px;
 background: white;
 max-width: 200px;
}

.fullscreen {
  position: absolute;
  bottom: 10px;
}